<div class="am-left-sidebar am-scroller">
  <div class="content">
    <div class="am-logo"></div>
    <ul class="sidebar-elements">
      <li>
          <a href="/home"><i class="icon s7-diamond"></i><span>notícias</span></a>
      </li>
      <li>
        <a href="/everything"><i class="icon s7-global"></i><span>geral</span></a>
      </li>
      <li class="parent">
        <a href="#" class="not-cursor">
          <i class="icon s7-monitor"></i>
          <span>categorias</span>
        </a>
        <ul class="sub-menu">
            <li><a href="/category/general">geral</a></li>
            <li><a href="/category/business">negócios</a></li>
            <li><a href="/category/entertainment">entretenimento</a></li>
            <li><a href="/category/health">saúde</a></li>
            <li><a href="/category/science">ciências</a></li>
            <li><a href="/category/sports">esportes</a></li>
            <li><a href="/category/technology">tecnologia</a></li>
        </ul>
      </li>
      <li>
        <a href="/sources"><i class="icon s7-pen"></i><span>fontes</span></a>
      </li>
    </ul>
  </div>
</div>














